.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 0.25rem;
}
